@font-face {
    font-family: 'gothic';
    src: url('../fonts/Sketch.ttf');
url('../fonts/Sketch.ttf') format('truetype'), font-weight: normal;
    font-style: normal;
}
/*-------------default-------------*/
body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 16px;
}
* {
    box-sizing: border-box;
}
button:focus {
    outline: none
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
h2 {
    font-family: "Trebuchet MS", serif;
    font-size: 50px;
    margin-bottom: 58px;
}
h3 {
    font-size: 25px;
    margin-bottom: 28px;
}
a {
    text-decoration: none;
    color: black;
}
p {
    margin: 0;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
footer a{
    color: black;
}
header a {
    color: black;
}
/*---------------------------------*/

.container {
    width: 1170px;
    margin: 0 auto;
}

/*-------------header-------------*/

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding-top: 10px;
    color: black;
    z-index: 1000000;
    background-color: #ededed;
}
.white {
    height: 112px;
    width: 100%;
}

.header .show-menu {
    display: block;
    position: absolute;
    background: whitesmoke;
    left: 0;
    top: 0;
    width: 100%;
    padding: 40px 20px 20px 40px;
    z-index: 1000;

}

.header .show-menu li {
    margin-bottom: 20px;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-bottom: 10px;
    width: 70px;
    height: 90px;
}
.socials{
    display: flex;
    margin: 0;
}
.basket{
    position: absolute;
    bottom: 15px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
}
#top{
    margin-top: -112px;
    top: 0;
    left: 0;
}

/*---------menu---------*/

.menu {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.menu li a {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 0.1em;
}
.menu li{
    margin-right: 40px;
}
.menu a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.menu a:hover {
    background-size: 100% 2px;
}
.menu-open {
    background: none;
    border: none;
    margin-left: 20px;
    display: none
}



.soc {
    width: 30px;
    height: 30px;
    margin-right: auto;
    margin-left: 5px;
    border-radius: 20px;
}
.socials li{
    margin-right: 0;
}



.offer {
    /*margin-top: 216px;*/
    /*background: url("../img/BANNER_SHINIGAMI2-1600x900.png")  center top / cover no-repeat;*/
    /*height: 100%;*/
    /*width: 100%;*/
}
.offer p {
    font-family: 'gothic', serif;
    font-size: 70px;
    margin-bottom: 19px;
    margin-top: -9px;
    letter-spacing: 0.001em;
    margin-left: 15px;
}
.btn {
    margin: auto;
    display: inline-block;
    text-align: center;
    padding: 12.5px 10px;
    height: 40px;
    min-width: 140px;
    font-weight: 500;
    font-size: 17px;
    font-family: 'Trebuchet MS', serif;
    letter-spacing: 0.1em;
    border: 1px solid black;
    width: 238px;
    transition: all 0.5s ease;
    z-index: 1000;
}

.num{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: black;
    color: white;
    border-radius: 3030px;
    right: 0;
    top: 0;
}
.all-bask{
    position: relative;
    width: 60px;
    height: 55px;
}
.bask-cou {
    line-height: 20px;
    text-align: center;
}
.all{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #ededed;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 9999999;
    text-align: center;
}


@font-face {
    font-family: 'gothic';
    src: url('../fonts/Sketch.ttf');
url('../fonts/Sketch.ttf') format('truetype'), font-weight: normal;
    font-style: normal;
}
:root {
    --effect: hover .8s linear infinite;
}




.all p {
    display: inline-block;
    text-align: center;
    font-size: 150px;
    font-family: 'gothic', serif;
    font-weight: normal;
    transform: scale(.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
}

.all  p:nth-child(1) {
    animation: var(--effect) .25s;
}

.all p:nth-child(2) {
    animation: var(--effect) .25s;
}

.all  p:nth-child(3) {
    animation: var(--effect) .25s;
}

.all p:nth-child(4) {
    animation: var(--effect) .25s;
}

.all p:nth-child(5) {
    animation: var(--effect) .25s;
}

.all p:nth-child(6) {
    animation: var(--effect) .25s;
}

.all p:nth-child(7) {
    animation: var(--effect) .25s;
}
.all p:nth-child(8) {
    animation: var(--effect) .25s;
}
.all p:nth-child(9) {
    animation: var(--effect) .25s;
}
.all p:nth-child(10) {
    animation: var(--effect) .25s;
}

.all p:nth-child(11) {
    animation: var(--effect) .25s;
}

.all p:nth-child(12) {
    animation: var(--effect) .25s;
}
.all p:nth-child(13) {
    animation: var(--effect) .25s;
}
.all p:nth-child(14) {
    animation: var(--effect) .25s;
}

@keyframes hover {
    0% {
        transform: scale(.5);
        color: #121212;
        -webkit-text-stroke: 2px gray;
    }

    20% {
        transform: scale(1);
        color: black;
        -webkit-text-stroke: 3px black;
        filter: drop-shadow(0 0 1px white)drop-shadow(0 0 1px white)drop-shadow(0 0 3px black)drop-shadow(0 0 5px black)hue-rotate(10turn);
    }

    50% {
        transform: scale(.5);
        color: #121212;
        -webkit-text-stroke: 2px gray;
    }


}

/*---------------main---------------*/

.title{
    margin-top: 0;
    margin-bottom: 50px;
    width: 100%;
    height: 100px;
    background-color: #e1e1e1;
}
.title h1{
    text-transform: uppercase; /*temporary*/
    padding-top: 25px;
    text-align: center;
    font-size: 50px;
}
.row {
    display: flex;
    margin-bottom: 10px;

}
.col4{
    display: flex;
    flex: 0 0 34%;
}
.col6{
    display: flex;
    flex: 0 0 66%;
}
.col6 p{
    padding-top: 10px;
    font-size: 18px;
}
/*------------footer------------*/

.footer-text li a{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
}
.tel {
    font-size: 17px;
    margin-left: auto;
    letter-spacing: 0.1em;
}
.footer-text {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    margin-top: 80px;
    padding: 14px 0 50px
}
.footer-text p {
    margin-right: auto;
}
.footer{
    background-color: #ededed;
}
.faq{
    margin: 0 auto;
}
.shipping{
    padding-bottom: 14px;
    font-size: 14px;
    text-align: center;
}

/*----------scrollTop----------*/

#idTop {
    cursor: pointer;
    z-index: 1000;
    width: 43px;
    bottom: 35px;
    right: 10px;
    height: 43px;
    line-height: 43px;
    overflow: hidden;
    position: fixed;
    display: block;
    text-align: center;
    border-radius: 30px;
    opacity: .6;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.arrow{
    max-width: 43px;
    max-height: 43px;
}
#idTop:hover {
    opacity: 1;
}

/*------------media------------*/

@media screen and (max-width: 1200px) {
    .container {
        width: 1140px;
    }
    .shipping{
        font-size: 14px;
    }
}

@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }
    .desc-left, .desc-right {
        width: 48%;
    }
    .gallery img:nth-child(1) {
        width: 23%;
    }
    .gallery img:nth-child(2) {
        width: 23%;
    }
    .gallery img:nth-child(3) {
        width: 48%;
    }
}

@media screen and (max-width: 991px) {
    body{
        overflow-x:hidden;
    }
    .container {
        width: 720px;
    }
    .menu li a{
        font-size: 18px;
    }
    .logo{
        width: 56px;
        height: 72px;
    }
    .menu li {
        margin-right: 10px;
        margin-left: 10px;
    }
    .banner{
        margin-top: 90px;
    }
    .white{
        height: 100px;
    }
}

@media screen and (max-width: 767px) {
    body{
        overflow-x:hidden;
    }
    .header{
        padding-top: 10px;
    }
    .banner{
        margin-top: 72px;
    }
    .container {
        width: 540px;
    }
    .lil{
        display: none;
    }
    .socials{
        margin-right: auto ;
        margin-left: 20px ;
    }
    .menu-open {
        display: block;
        margin-left: auto;
    }
    .menu-open img{
        position: absolute;
        right: 30px;
        top: 30px;
        height: 40px;
    }
    .menu{
        margin: 0;
        width: 0;
        height: 0;
    }
    .menu-open {
        top: 0;
        right:  0;
        width: 40px;
        height: 40px;
    }
    .offer h1 {
        line-height: 1em;
        margin-top: 10px;
    }
    .offer p {
        line-height: 1em;
        margin-top: 10px;
    }
    .description {
        flex-wrap: wrap;
    }
    .desc-left, .desc-right {
        width: 100%;
    }
    .desc-left {
        margin-bottom: 40px;
    }
    .gallery img:nth-child(1),
    .gallery img:nth-child(2),
    .gallery img:nth-child(3) {
        width: 100%;
        margin-bottom: 20px;
    }
    .gallery {
        flex-wrap: wrap;
    }
    .footer-text {
        flex-wrap: wrap;
    }
    .footer-text p:nth-child(1) {
        margin-bottom: 20px;
    }
    .logo {
        margin-bottom: 20px;
    }
    .col-2, .col-3{
        flex: 0 0 50%;
    }
    .col-1{
        display: none;
    }
    .show-menu{
        display: block;
        height: 220px;
    }
    .show-lil{
        display: flex;
    }
    .shipping{
        text-align: left;
    }
    .all-bask{
        margin-right: 470px;
    }
}

@media screen and (max-width: 575px) {
    body{
        overflow-x:hidden;
    }

    .container {
        width: 100%;
        padding: 0;
    }
    .offer h1 {
        font-size: 80px;
    }
    .offer p {
        font-size: 50px;
    }
    .menu-open {
        margin-left: auto;
    }
    .offer p {
        font-size: 42px;
        text-align: center;
    }
    .logo {
        margin-bottom: 20px;
    }
    .col-3{
        flex: 0 0 100%;
    }
    .col-1, .col-2{
        display: none;
    }
    .btn{
        margin: 0 auto;
    }
    .offer p {
        margin-left: 0;
        text-align: center;
    }
    .footer-text{
        padding-bottom: 14px;
        margin: 40px auto 0 auto;
        max-width: 200px;
        text-align: center;
    }
    .footer-text p{
        margin: 0 auto;
        padding-right: 10px;
    }
    .footer-text p:nth-child(1) {
        margin-bottom: 5px;
    }
    .footer-text a{
        margin: 0 auto;
        margin-bottom: 5px;
        padding-left: 0px;
    }
    .shipping{
        display: none;
    }
    .title h1{
        font-size: 34px;
        padding-top: 34px;
    }
    .all-bask{
        margin-right: 80px;
    }
    .text-block{
        margin-left: 30px;
    }
}

.roww {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.columnn {
    margin-top: 75px;
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.columnn img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;

}